*{margin: 0;
padding: 0;}


.Main{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  margin-top: 10px;
  flex-wrap: wrap;
}

/* Search Bar  */
.searchBar{
    width: 33%;
    border-bottom: 2px solid #8b8b8b;
    padding: 10px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 2px #8b8b8b;
    border-radius: 20px;
    margin-bottom: 10px;
  }
.search{
  outline: none;
  border: 0;
  width: 85%;
  padding: 10px;
  padding-bottom: 5px;
  font-size: 1em;
}
.searchIcon{
  cursor: pointer;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}